{% extends "base.html" %}
{% block title %}Secret{% endblock %}

{% block content %}
    <ul class="flashes">
        {% for message in messages %}
        <li>message</li>
        {% endfor %}
    </ul>
    <p>First name: {{user.first_name}}</p>
    <p>Last name: {{user.last_name}}</p>
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>

    {% if feedbacks %}
        <h2>Feedbacks</h2>
        {% for feedback in feedbacks %}
            <h3>{{feedback.title}}</h3>
            <p>{{feedback.content}}</p>
            <button><a href="/feedback/{{feedback.id}}/update">Edit feedback</a></button>
            <button><a href="/feedback/{{feedback.id}}/delete">Delete feedback</a></button>
        {% endfor %}
    {% endif %}
    <form action="/users/{{user.username}}/feedback/add">
        <input type="submit" class="" value="Add feedback">
    </form>

    <form action="/user/{{user.username}}/delete">
        <input type="submit" class="" value="Delete profile"> 
    </form>

    <form action="/logout">
        <input type="submit" class="" value="Logout">
    </form>
{% endblock %}