{% extends "base.html" %}
{% block title %}Login User{% endblock %}

{% block content %}
<h2>Update Feedback</h2>
<form id="feedback-form" method="POST">
    <h3>{{feedback.title}}</h3>
    <p>{{feedback.content}}</p>
    
    {{form.hidden_tag()}}
    {% for field in form 
        if field.widget.input_type != 'hidden' %}
    
    <p>
        {{ field.label }}
        {{ field }}

        {% if field.error %}
            {% for error in field.errors %}
                {{error}}
            {% endfor %}
        {% endif %}
    </p>
    {% endfor %}

    <button type="submit">Submit</button>
</form>
{% endblock %}